.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.leftbutton{
  position: absolute;
  left: 468px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.rightbutton{
  position: absolute;
  right: 468px;
   border: none;
  background-color: transparent;
  cursor: pointer;
}

.mainimage img {
  opacity: 0; /* Start with opacity 0 */
}

.mainimage img.active {
  opacity: 1; /* Transition to opacity 1 */
  transition: opacity 0.3s ease-in-out;
}


